.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginContainer {
  width: 100%;
  max-width: 400px; /* Set a max-width for the form */
  margin: 0 auto; /* Center the form horizontally */
  padding: 2rem; /* Add padding inside the container */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: add shadow for better visibility */
  border-radius: 25px; /* Rounded corners */
  background: #fff; /* Background color */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
  margin-bottom: 1rem; /* Space between the inputs */
  padding: 0.8rem; /* Padding inside the inputs */
  border: 1px solid #ccc; /* Light grey border for the inputs */
}

.loginForm button {
  padding: 0.8rem;
  border-radius: 25px; /* Rounded corners for the button */
  border: none; /* Remove border */
  background-color: #6074DD; /* Bootstrap primary blue */
  color: white;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  font-weight: bold;
}

.loginForm button:hover {
  background-color: #4559bb; /* Darker blue on hover */
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    width: 100%;
}
.button {
    width: 60%;
}