/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/dashboard/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_flexContainer__hJYbA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
}

.page_question__MmPa0 {
  width: 70%;
  margin: 0 auto; /* Center the form horizontally */
  padding: 1rem;
  border-radius: 25px; /* Rounded corners */
  background: #fff; /* Background color */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.page_question__MmPa0 img {
  border-radius: 50%;
}
.page_question__MmPa0 h3 {
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
}

.page_question__MmPa0 p {
    margin-bottom: 0.5rem; 
}

.page_question__MmPa0 h4 {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    font-size: 0.75rem;
}
.page_profileContainer__TGhus {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #6074DD;
  font-weight: 700;
}

.page_header__z1UGj {
  padding-top: 1.8rem;
  padding-left: .5rem;
  margin-left: auto;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  top: 0px;
  left: 0;
  right: 0;

}



.page_button__wEASe {
  margin-right: 4rem;
  padding: 0.6rem;
  border-radius: 25px;
  border: none;
  background-color: #6074dd;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  margin-left: 1rem;
}

.page_button__wEASe:hover {
  background-color: #4559bb; /* Darker blue on hover */
}
